* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}
/* fonts */
body,
p,
a {
  font-family: "Open Sans", sans-serif;
}
h1,
h2 {
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}
.navBttn {
  height: 35px;
  width: 8vw;
  border-radius: 13px;
  border: none;
  background-color: rgb(207, 19, 19);
  color: white;
}

nav a {
  position: relative;
  text-decoration: none;
  color: gray;
  padding-bottom: 10px;
  margin: 0 15px;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

/* hero */

.heroSection {
  width: 100%;
  min-height: 80vh;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.heroContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.rightHero img {
  max-width: 30vw;
  animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.leftHero {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.heroBttns {
  display: flex;
  gap: 20px;
}
.heroBttns .leftBttn button {
  height: 35px;
  width: 8vw;
  border-radius: 13px;
  border: none;
  background-color: rgb(207, 19, 19);
  color: white;
}
.heroBttns .rightBttn button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  color: white;
}
.rightBttn i {
  color: rgb(207, 19, 19);
  font-size: 28px;
}

.topHero {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ABOUT */
.aboutSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}
.topAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topAbout p {
  color: rgb(143, 146, 148);
}
span,
i {
  color: rgb(207, 19, 19);
}
.downAbout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
}
.leftAbout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.leftAbout img {
  width: 45vw;
  height: 80vh;
}
.leftContent {
  border: 5px solid rgb(98, 101, 105);
  width: 45vw;
  text-align: center;
  padding: 35px;
  height: 15vh;
}
.leftContent span {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.rightAbout {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aboutContent .firstPara {
  color: rgb(98, 101, 105);
}

.aboutIcons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aboutIcons > div {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.aboutIcons i {
  color: rgb(207, 19, 19);
  margin-top: 4px;
}

.vedio {
  width: 100%;
  height: 53.5vh;
  background-image: url("/public/images/Yummy/about-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.vedio button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background-color: rgb(207, 19, 19);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vedio button i {
  font-size: 28px;
  color: white;
}

/* why us */
.whyUs {
  width: 100%;
  min-height: 60vh;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.whyContent {
  display: flex;
  gap: 20px;
}

.whyContent .firstCard {
  width: 33%;
}

.whyContent .secondCard,
.whyContent .thirdCard,
.whyContent .fourthCard {
  width: 23%;
}

.whyContent > div {
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}
.whyContent .firstCard {
  background: rgb(207, 19, 19);
  color: white;
}
.firstCard button {
  border-radius: 12px;
  border: transparent;
  background: rgb(214, 54, 54);
  height: 35px;
  color: white;
  width: 8vw;
}
.whyContent i {
  width: 70px;
  height: 70px;
  border: 1px solid #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  background-color: #eee;
}

/* state */
.states {
  width: 100%;
  min-height: 50vh;
  background-image: url("/public/images/Yummy/stats-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}

.states::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.statesContent {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 170px;
  text-align: start;
  text-align: center;
  color: white;
}

.statesContent h3 {
  font-size: 48px;
  margin-bottom: 5px;
  font-weight: 700;
}

.statesContent p {
  font-size: 16px;
  color: gray;
  font-weight: 700;
}
/* menu */

.menu {
  padding: 60px 0;
  background-color: #fff;
}

.topMenu {
  text-align: center;
  margin-bottom: 40px;
}

.topMenu p {
  color: #9aa0a6;
  letter-spacing: 2px;
  font-size: 14px;
}

.topMenu h2 {
  font-size: 42px;
}

.topMenu span {
  color: rgb(207, 19, 19);
}

.menuContent {
  text-align: center;
  margin-bottom: 40px;
}

.menuTypes {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 10px;
}

.menuTypes p {
  font-weight: 600;
  color: #555;
  position: relative;
}

.menuTypes p:first-child {
  color: rgb(207, 19, 19);
}

.menuTypes p:first-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(207, 19, 19);
  left: 0;
  bottom: -5px;
}

.menuContent > div p {
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.menuImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}

.menuImages div {
  padding: 20px;
}

.menuImages img {
  width: 200px;
  margin-bottom: 15px;
}

.menuImages p:first-of-type {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.menuImages p:nth-of-type(2) {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 10px;
}

.menuImages span {
  font-size: 20px;
  font-weight: 700;
  color: rgb(207, 19, 19);
}
/* testimonials */
.testimonials {
  background-color: #f7f7f7;
  padding: 60px 0;
}

.topTestimonials {
  text-align: center;
  margin-bottom: 50px;
}

.topTestimonials p {
  color: #9aa0a6;
  letter-spacing: 2px;
  font-size: 14px;
}

.topTestimonials h2,
h4,
span {
  font-size: 42px;
  font-family: "Amatic SC", cursive;
}

.topTestimonials span {
  color: rgb(207, 19, 19);
}

.testimonialCard {
  display: flex;
  align-items: flex-start;
  padding: 40px;
}

.testimonialText {
  width: 65%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.quoteBar {
  width: 4px;
  height: 100%;
  background-color: rgb(207, 19, 19);
  position: absolute;
  left: -20px;
  top: 0;
}

.testimonialText p {
  font-style: italic;
  color: #555;
  margin: 0 0 15px 0;
}

.testimonialText h4 {
  margin-top: 10px;
  font-size: 18px;
}

.testimonialText span {
  color: #9aa0a6;
  font-size: 14px;
  margin-bottom: 10px;
}

.stars {
  display: flex;
  gap: 5px;
  margin-top: auto;
}

.stars i {
  color: #ffc107;
}

.testimonialImg {
  width: 30%;
  text-align: center;
}

.testimonialImg img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
/* events */
.events {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.eventContent {
  display: grid;
  grid-template-columns: repeat(4, 33.3333%);
  height: 420px;
  gap: 3px;
}

.eventContent > div {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  color: #fff;
}

.eventContent > div::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
  z-index: 0;
}

.eventContent > div p {
  position: relative;
  z-index: 1;
  margin: 0;
}

.eventContent > div p:first-child {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
  font-family: "Amatic SC", cursive;
}

.eventContent > div p:nth-child(2) {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 12px;
  position: relative;
}
.eventContent > div p:nth-child(2)::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: rgb(207, 19, 19);
  margin-top: 8px;
}

.eventContent > div p:last-child {
  font-size: 14px;
}

.eventContent > div {
  transition: transform 0.4s ease;
}

/* chefs */
.topChef {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.topChef p {
  color: #9aa0a6;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
}

.topChef h2 {
  font-size: 42px;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.topChef h2 span {
  color: rgb(207, 19, 19);
}

.rowChef {
  display: flex;
  gap: 25px;
}

.chefs .member {
  position: relative;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.chefs .member:hover {
  transform: translateY(-10px);
}

.chefs .member img {
  width: 100%;
  display: block;
}

.chefs .member-info {
  padding: 25px 20px;
  text-align: center;
}

.chefs .member-info h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.chefs .member-info span {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

.chefs .member-info p {
  font-size: 14px;
  color: #666;
}

.chefs .social {
  position: absolute;
  top: 25px;
  right: -50px;
  background: rgb(165, 161, 161);
  padding: 10px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  visibility: hidden;
  transition: all 0.4s ease;
}

.chefs .social a {
  font-size: 18px;
  color: #555;

  transition: color 0.3s ease;
}
.chefs .social i {
  color: rgb(82, 82, 82);
}
.chefs .social a:hover {
  color: gray;
}

.chefs .member:hover .social {
  right: 15px;
  opacity: 1;
  visibility: visible;
}

/* book */

.book {
  padding: 60px 0;
  background: #fff;
}

.topBook {
  text-align: center;
  margin-bottom: 40px;
}

.topBook p {
  font-size: 14px;
  letter-spacing: 2px;
  color: #9aa0a6;
}

.topBook h2 {
  font-size: 42px;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.topBook h2 span {
  color: #ce1212;
}

.bookWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #f7f7f7;
}

.bookImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookForm {
  padding: 40px;
}

.formRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.bookForm input,
.bookForm textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.bookForm input:focus,
.bookForm textarea:focus {
  border-color: #ce1212;
}

.bookForm textarea {
  grid-column: 1 / -1;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.bookForm button {
  display: block;
  margin: auto;
  background: #ce1212;
  color: #fff;
  padding: 12px 35px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.bookForm button:hover {
  background: #b01010;
}
/* gallery */

.gallery {
  text-align: center;
  margin-bottom: 50px;
  background-color: #f7f7f7;
  padding: 60px 0;
}

.topGallery p {
  color: #9aa0a6;
  letter-spacing: 2px;
  font-size: 14px;
}

.topGallery h2,
span {
  font-size: 42px;
  font-family: "Amatic SC", cursive;
}

.topGallery span {
  color: rgb(207, 19, 19);
}

.galleryImages {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;

}

.galleryImages div {
  position: absolute;
  transition: all 0.7s ease;
}

.galleryImages img {
  width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

/*  */

/* CONTATC */

.contact {
  text-align: center;
  margin-bottom: 50px;
  padding: 60px 0;
}

.topContact p {
  color: #9aa0a6;
  letter-spacing: 2px;
  font-size: 14px;
}

.topContact h2,
span {
  font-size: 42px;
  font-family: "Amatic SC", cursive;
}

.topContact span {
  color: rgb(207, 19, 19);
}

.contactFormul {
  background: #fff;
  padding: 30px;
}

.firstForm,
.secondForm {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.firstForm > div,
.secondForm > div {
  background: #f8f9fa;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 50%;
}

.firstForm i,
.secondForm i {
  font-size: 18px;
  color: #ce1212;
  background: #fceaea;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.firstForm > div p,
.secondForm > div p {
  margin: 0;
}

.firstForm > div p:nth-of-type(1),
.secondForm > div p:nth-of-type(1) {
  font-size: 15px;
  font-weight: 700;
  color: #37373f;
}

.firstForm > div p:nth-of-type(2),
.secondForm > div p:nth-of-type(2) {
  font-size: 14px;
  color: #6c757d;
  line-height: 1.4;
}

.thirdForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thirdForm > div:first-child {
  display: flex;
  gap: 20px;
}

.thirdForm > div:first-child input {
  width: 50%;
}

.thirdForm > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thirdForm input,
.thirdForm textarea {
  padding: 12px 15px;
  border: 1px solid #ced4da;
  font-size: 14px;
  font-family: inherit;
  width: 100%;
}

.thirdForm textarea {
  min-height: 150px;
}

.thirdForm input:focus,
.thirdForm textarea:focus {
  border-color: #ce1212;
}

.thirdForm button {
  background: #ce1212;
  color: #fff;
  border: none;
  padding: 12px 36px;
  font-size: 14px;
  border-radius: 50px;
  align-self: center;
  transition: 0.3s;
}

.thirdForm button:hover {
  background: #b01010;
}

/* footer */
footer {
  background: rgb(31, 31, 36);
  color: white;
  padding: 60px 0 20px 0;
  margin-top: 5vw;
}
footer .topFotter {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(207, 19, 19);
}
footer .topFotter > div {
  display: flex;
  gap: 15px;
}
footer .topFotter i {
  font-size: 30px;
  color: rgb(207, 19, 19);
}
footer .topFotter .footertext p:first-child {
  font-family: "pacifico", serif;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}
footer .topFotter .footertext p:last-child {
  opacity: 0.9;
  line-height: 1.5;
}
footer .topFotter .media {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .topFotter .media a {
  margin-right: 10px;
}
footer .topFotter .media i {
  font-size: 28px;
  transition: 0.3s;
}
footer .topFotter .media i:hover {
  transform: scale(1.1);
}
footer .downFooter {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  font-size: 15px;
  opacity: 0.8;
}

/** modal style
/*  */
.mediaModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.mediaModal.active {
  display: flex;
}

.mediaBox {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.media-content img{
  width: 50vw;
  height: 80vh;
}
.media-content iframe {
  width: 70vw;
  height: 80vh;
  border-radius: 8px;
}

.mediaBox .media-close  i{
  position: absolute;
  /* /* top: 10px; */
  right: -30vw; 
  width: 20vw;
  font-size: 28px;
  color: #4f0303;
  cursor: pointer;
}

.media-prev,
.media-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: red;
  cursor: pointer;
}

.media-prev {
  left: -13vw;
}
.media-next {
  right: -13vw;
}



